[Unit]
Description=Configure EMS Gateway Full Network eth0 eth1 and Wi-Fi
After=network.target
Wants=network.target

[Service]
Type=oneshot
WorkingDirectory=/root/kinetics-grid-ems/ems_gateway_test_imx93
ExecStart=/root/kinetics-grid-ems/ems_gateway_test_imx93/ems_network_all_setup.sh
RemainAfterExit=yes
StandardOutput=journal+console
StandardError=journal+console

[Install]
WantedBy=multi-user.target
EOF

commands to test:
1) systemctl restart ems-network-setup.service
ip -br addr show mlan0
ip -br addr show eth0
ip -br addr show eth1

ip route get 8.8.8.8
ip route get 192.168.10.1
ip route get 192.168.1.200
ping -I mlan0 -c 4 google.com


6. Reboot test
reboot

After reboot:

systemctl status ems-network-setup.service --no-pager
systemctl status ems-wifi-setup.service --no-pager

ip -br addr
ip route get 192.168.10.1
ip route get 192.168.1.200
ip route get 8.8.8.8
ping -I mlan0 -c 4 google.com