[Unit]
Description=EMS Boot V3 Wi-Fi setup
After=ems-v3-eth1.service
Wants=ems-v3-eth1.service

[Service]
Type=oneshot
ExecStart=/root/kinetics-grid-ems/ems_boot_v3/scripts/imx93_wifi_v3.sh
RemainAfterExit=yes
TimeoutStartSec=180

[Install]
WantedBy=multi-user.target
